@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,400&display=swap');
body{
    font-family: "Montserrat",sans-serif;
}
.nav-row{
    background-color: #6f42c1;
    width: 100%;
    color: #FFF;
}
hr.hr{
    margin-top: 0;
}
h3{
    margin-bottom: 0;
}
h2{
    font-weight: 900;
}
h4{
    font-weight: 700;
}
h5{
    font-weight: 600;
}
.question{
    border-left: 1px solid #d9d9d9;
    padding-left: 1rem;
}
.form-group{
    font-size: 1.1rem;
}
.Liste{
    border: 1px solid transparent;
}
.title{
    background-color: #6f42c1;
    color: #FFF;
    text-align: center;
}
ol a{
    color: #000;
}
@media (max-width:992px){
    .Liste{
        display:none;
    }
}